################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/buildtempDebug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
